<h3>Liste et Caractéristiques des Sidekicks</h3>
<!-- <div><span>id: </span>{{sidekick.id}}</div>
<div><span>age: </span>{{sidekick.age}}</div>
<div>
  <label>Age:
    <input [(ngModel)]="sidekick.age" placeholder="age">
  </label>
</div>
<div>
  <label>Nom:
    <input [(ngModel)]="sidekick.name" placeholder="nom">
  </label>
<div><span>Pouvoir: </span> {{sidekick.quirk}}</div> -->

<ul class="sidekick">
  <li *ngFor="let s of sidekicks"
    [class.selected]="s === selectedSidekick"
    (click)="onSelect(s)">

    <span class="badge">{{s.id}}</span> {{s.age}} ans, {{s.name}}, {{s.quirk}}
  </li>
</ul>

<div *ngIf="selectedSidekick">
  <h2> Détail de {{selectedSidekick.name | uppercase}}</h2>
    <div><span>id: </span>{{selectedSidekick.id}}</div>
  <div>
    <label>Nom:
      <input [(ngModel)]="selectedSidekick.name" placeholder="Nom">
    </label>
  </div>
</div>